# Virtual environment
.venv/

# Data (MR images, masks)
data/*
data/raw/
data/masks/
data/processed/

# Outputs
outputs/

# Python cache
__pycache__/
*.pyc

# OS
.DS_Store
Thumbs.db

# Frontend
frontend/logs
frontend/*.log
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
frontend/pnpm-debug.log*
frontend/lerna-debug.log*

frontend/node_modules
frontend/dist
frontend/dist-ssr
frontend/*.local

# Frontend Editor directories and files
frontend/.vscode/*
!frontend/.vscode/extensions.json
frontend/.idea
frontend/.DS_Store
frontend/*.suo
frontend/*.ntvs*
frontend/*.njsproj
frontend/*.sln
frontend/*.sw?
